fastapi==0.124.2
uvicorn[standard]==0.38.0
pydantic==2.12.5
pydantic-settings==2.12.0
pymysql==1.1.2
langchain==1.2.15
langgraph==1.1.10
langgraph-checkpoint-mysql[pymysql]
langchain-core==1.3.3
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-groq==1.1.1
langchain-huggingface==1.2.0
langchain-pinecone==0.2.13
pinecone==7.3.0
pypdf==6.4.1
unstructured[md]==0.18.21
arize-phoenix-otel==0.13.0
openinference-instrumentation-langchain==0.1.60
opentelemetry-sdk==1.39.0
opentelemetry-exporter-otlp-proto-http==1.39.0
